<div class="login-wrapper">
  <mat-card class="login-card mat-elevation-z8">
    <div class="login-content">
      <div class="login-image">
        <img src="https://cdn-media.sforum.vn/storage/app/media/anh-dep-68.jpg" alt="login illustration" />
      </div>

      <div class="login-form">
        <h2>Quản trị hệ thống</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="username" type="email" required />
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Mật khẩu</mat-label>
            <input matInput formControlName="password" type="password" required />
          </mat-form-field>

          <button mat-raised-button color="primary" class="full-width" type="submit">
            Đăng nhập
          </button>
        </form>
        <p class="hint">Email: adminexample.com – Mật khẩu: admin123</p>
      </div>
    </div>
  </mat-card>
</div>
