<mat-toolbar color="primary" class="mat-elevation-z8">
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">VoteOnline</span>
    <span class="spacer"></span>
    <button (click)="badgevisibility()" mat-icon-button>
      <mat-icon 
        matBadgeColor="accent" 
        matBadge="15" 
        [matBadgeHidden]="badgevisible" 
        matBadgeSize="small">
        notifications
      </mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-drawer-container class="drawer-container">
  
    <mat-drawer #drawer mode="side" [opened]="!isMobile" class="drawer">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of routes">
          <button [routerLink]="['/admin', item.path]" mat-button>
            <mat-icon>{{ item.data.icon }}</mat-icon>
            {{ item.data.text }}
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="drawer-content">
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>  
</mat-drawer-container>
  